<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<?xml-stylesheet 
href="_assets/recipe.xsl" type="text/xsl"
?>

<recipe lang="en-uk" xmlns:lxslt="http://xml.apache.org/xslt">
<title><![CDATA[Spring onion pastries]]></title>
<description><![CDATA[You Yuan]]></description>
<source/>
<img></img>
<cuisine>
<style>Chinese</style>
<region/>
<approach/>
</cuisine>
<tags>
<tag>Snack</tag>
<tag/>
</tags>
<directions xmlns:php="http://php.net/xsl">&gt;
<step><![CDATA[sift 315g flour into a bowl, make a well in the middle, and pour 250ml boiling water]]></step>
<step><![CDATA[work quickly into a dough]]></step>
<step><![CDATA[make a ball and brush lightly with sesame oil. rest covered 5m]]></step>
<step><![CDATA[
knead some more until rubbery, rub with more sesame oil, place in plastic bag 60m]]></step>
<step><![CDATA[
roll into  a log 25 cm long and split into 6]]></step>
<step><![CDATA[roll each into a very thin 18 cm disk, rub with sesame oil, sprinkle salt, 3 chopped spring onions each]]></step>
<step><![CDATA[roll into a cigar]]></step>
<step><![CDATA[twist into a tight coil]]></step>
<step><![CDATA[flatten coil into a 13cm disk]]></step>
<step><![CDATA[
shallo fry  3m oin each side]]></step>
</directions>
<ingredients xmlns:php="http://php.net/xsl">
        <serves/>
        <group>
          <name><![CDATA[Pastry]]></name>
          <ingredient>
            <quantity>315</quantity>
            <measurement>g</measurement>
            <name><![CDATA[flour]]></name>
            <preparation><![CDATA[plain]]></preparation>
          </ingredient>
          <ingredient>
            <quantity>250</quantity>
            <measurement>ml</measurement>
            <name><![CDATA[water]]></name>
            <preparation><![CDATA[boiling]]></preparation>
          </ingredient>
          <ingredient>
            <quantity/>
            <measurement/>
            <name><![CDATA[untitled ingredient]]></name>
            <preparation/>
          </ingredient>
        </group>
        <group>
          <name><![CDATA[Stuffing]]></name>
          <ingredient>
            <quantity>110</quantity>
            <measurement>g</measurement>
            <name><![CDATA[spring onions]]></name>
            <preparation><![CDATA[chopped]]></preparation>
          </ingredient>
        </group>
      </ingredients>
</recipe>
