<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Starting from scratch you should be able to enter the parameters, run this job, and have a complete instance of gotofritz up and running</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.FileParameterDefinition>
          <name>local.properties</name>
          <description>A bunch of local properties needed by ant.
There is a sample in subversion, under local.properties.sample&lt;br&gt;
NOTE: if you have provided this once, and it hasn&apos;t changed, you don&apos;t need to provide it again</description>
        </hudson.model.FileParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>svn+ssh://USER@EXAMPLE.COM/srv/svn/repos/MY_PROJ/trunk</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo /opt/local/apache2/bin/apachectl stop</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>fromScratch</targets>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>sudo /opt/local/apache2/bin/apachectl start</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>checkApacheIsUp</targets>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>